/* css styles */
.navbar-logo {
    max-height: 3rem; /* Adjust the value as needed */
}
.nav-link {
    font-size: 1.25rem; /* Adjust the value as needed */
}

.responsive-normal {
  display: none;
}

.responsive-small {
  display: block;
}

.h2-special {
  border-color: lightgrey; 
  margin-top: 2rem;
}

@media (min-width: 767px) {

  .responsive-normal {
    display: block;
  }

  .responsive-small {
    display: none;
  }
}

@media (max-width: 767px) {
  
  body {
    line-height: 1.2em;
  }
  
  .h2-special {
    border-color: lightgrey; 
    margin-top: 0rem;
  }
  
  .column-margin img {
<<<<<<< HEAD
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .column-margin figcaption {
    padding-left: 3rem;
    padding-right: 3rem;
=======
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .column-margin figcaption {
    padding-left: 7rem;
    padding-right: 7rem;
>>>>>>> 10168bc9fd0ade4d63cef121c37ffad7631224b9
  }
  figcaption {
    line-height: 1.2em;
  }

}