/* css styles */
.navbar-logo {
    max-height: 3rem; /* Adjust the value as needed */
}
.nav-link {
    font-size: 1.25rem; /* Adjust the value as needed */
}


.textual-bold {
  font-weight: 900;
  color:black;
}

.callout-title-container {
  font-weight: 900;
  color: black;
}


.trainee-highlight {
  font-weight: 900;
  color: red;
}


.responsive-normal {
  display: none;
}

.responsive-small {
  display: block;
}

.h2-special {
  border-color: lightgrey; 
  margin-top: 2rem;
}

@media (min-width: 767px) {

  .responsive-normal {
    display: block;
  }

  .responsive-small {
    display: none;
  }
  
  .responsive-ref-section {
    display: none;
  }
  
  .column-margin .quarto-float-caption-bottom {
    margin-bottom: 5rem;
}

}

.ref-section {
  font-size: 0.75rem;
}

@media (max-width: 767px) {
  
  body {
    line-height: 1.2em;
  }
  
  .h2-special {
    border-color: lightgrey; 
    margin-top: 0rem;
  }
  
  .column-margin img {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .column-margin figcaption {
    padding-left: 2rem;
    padding-right: 2rem;

  }
  figcaption {
    line-height: 1.2em;
  }
  
  .publications .column-margin .quarto-float-caption-bottom {
    margin-bottom: 5rem;
}

}

  
.dropdown-item {
  background-color: rgba(242, 242, 242, 1);
  border-color: rgba(242, 242, 242, 1);
} 

.dropdown-menu {
  border-color: rgba(242, 242, 242, 1);
} 

.publications ol li {
  padding-bottom: 1rem;
  text-indent: -1.2rem;
  padding-left: 1.2rem;
}

.publications .quarto-xref {
  background-color: #FFFF00; 
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 0.3rem; 
}

.publications .quarto-float {
  text-indent: 0rem;
  padding-left: 0rem;
}


